*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    overflow-y:hidden;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Background of the draggable scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Rounded corners */
}

/* Background of the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #390241;
}

.skeleton{
    min-height: 120vh;
    /* width:100vw; */
    background-color: rgb(82, 6, 50);
    
}
.upper{
    /* width: 100vw; */
    height:6vh;
    /* border:1px solid #f8fc04; */
    /* padding:10px;
    margin: 10px; */
    
}
.lower{
    width: 100vw;
    height:100vh;
    
    /* border:1px solid #fff; */
    display:flex;
    /* padding:10px;
    margin: 10px; */
    justify-content: flex-start;
    align-items: flex-start;
}
.left{
    width: 12%;
    min-height:92vh;
    height: inherit;
    /* border:1px solid #3bc42e; */
    /* display: flex; */
    /* padding:10px;
    margin: 10px; */
   
}
.right{
    color:#fff;
    width: 88%;
    min-height:93vh;
    /* border:1px solid #2e31c4; */
    background:url("../layout/img/background/Gradients/Grey2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    /* padding:10px;
    margin: 10px; */
    /* border-bottom-left-radius: 30px; */
}
body{
    background-color: rgb(85, 5, 54);
}
@media only screen and (max-width:600px ) {
    .skeleton{
        
    }
    .upper{
        min-height: 20vh;
    }
    .left{
        visibility: hidden;
        width: 0;
        background-color: #2e31c4;
    }
    .right{
        width: 100vh;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .right{
        display: flex;
        gap:10px;
        padding:15px;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .r_left{
        border: 1px solid rgb(231, 129, 12);
        padding:30px;
        width:95%;
        display: flex;
        flex-wrap: wrap;
    }
    .r_mid{
        border: 1px solid rgb(63, 140, 170);
        padding:30px;
        width:95%;
        display: flex;
        flex-wrap: wrap;
    }
    .r_right{
        border: 1px solid rgb(223, 193, 174);
        padding:30px;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }
}