<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\layout\Layout.css">
    <link rel="stylesheet" href="..\layout\components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="skeleton">
        <div class="upper">
            <div class="back"><i class="material-icons">chevron_left</i></div>
            <div class="title"> <h1>Manage Your Files</h1></div>
            <div class="greetings"><h2>Good morning User</h2></div>
            <div class="iconElements">
                <div class="upper_notification ">
                    <i class="material-icons" style="font-size: 40px;">notifications</i>
                </div>
                <div class="upper_profile">
                    <i class="material-icons" style="font-size: 40px;">person</i>
                </div>
                
            </div>
        </div>
        <div class="lower">
            <div class="left">
                <div class="logo_left"><img src="..\layout\img\layout_img\bgm_county_logo-r.png" alt="logo_left" srcset="" style="height: 3cm; width: 3cm;"></div>
                <section class="options"><div class="icon"><i class="material-icons">bar_chart</i></div><div class="optName">Option 1</div></section>
                <section class="options"><div class="icon"><i class="material-icons">folder_open</i></div><div class="optName">Option 1</div></section>
                <section class="options"><div class="icon"><i class="material-icons">person</i></div><div class="optName">Option 1</div></section>
                <section class="options"><div class="icon"><i class="material-icons">send</i></div><div class="optName">Option 1</div></section>
                <section class="options"><div class="icon"><i class="material-icons">settings</i></div><div class="optName">Option 1</div></section>
                <div class="userProfile">
                    <div class="account">
                        <div class="profilepic"><img src="..\layout\img\layout_img\blankfaceblue.jpeg" alt="profile pic"></div>
                        <div class="profilename"><p>UserName</p></div>
                        <div class="profiledescription"><p>I am a senior accountant</p></div>
                    </div>
                </div>
                <div class="copy">&copy; @2024 ICT Attachees</div>
            </div>
            <div class="right">

            </div>
        </div>
    </div>
</body>
</html>