.upper{
    display: flex;
    justify-content: space-between;
    padding:10px;
    gap:10px;
    color: white;
}
/* .lower{
    border: 1px solid #fff;
} */
.back{
    /* background-color: rgb(44, 138, 219); */
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border:1px solid white; 
    /* min-height:2cm;  */
}
.title{
    /* border:1px solid; */
    /* min-height:2cm; */
}
.greetings{
    border:1px solid;
    /* min-height:2cm; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

}
.iconElements{
    display: flex;
    flex-wrap: wrap;
    /* border:1px solid; */
    gap:5px;
    /* min-height:2cm; */
}
.iconElements .upper_notification{
    border: 2px solid white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    /* padding:5px; */
    width:50px;
}
.iconElements .upper_profile{
    border: 2px solid white;
    text-align: center;
    border-radius: 50%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    width:50px;
}
.left{
    /* border:1px solid white; */
    display: flex;
    flex-direction: column;
    gap:10px;
    color: #fff;


}
.logo_left{
    /* border:1px solid white; */
    padding:10px;
    margin: 10px;
    min-height:3cm;
    min-width: 3cm;
    max-height:3.5cm;
    max-width: 3.5cm;

}
.options{
    /* border: 1px solid; */
    padding: 10px;
    display: flex;
    gap:10px;
    background-color: #4b0333;
}
.icon{
    /* padding:10px; */
    /* border:1px solid white; */
}
.userProfile{
    display: flex;
    /* border:1px solid #fff; */
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}
.account{
    /* border: var(--border5); */
    /* padding: 5px; */
    /* min-height: 100%; */
    border-radius: 10px;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* background-color: #ffffffee; */
    border: 1px solid #fff;
    /* justify-content: center; */
}
.profilepic{
    /* border: var(--border6); */
    padding:10px;
    height: 1.5cm;
    width: 1.5cm;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s linear;
    margin-top: -20px;
    border: 1px solid #ffffff;

    

}
/* .profilepic:hover{
    border: 2px solid #1c20e9;
} */
.profilepic img{
    height: 1.6cm;
    width: 1.55cm;
    
    /* border-radius: 100%; */
}
.profilename{
    /* border:var(--border6); */
    padding: 3px;
    border-radius: 5px;
    background: #656666;
    color:white;
    margin: 2px;


}
.profiledescription{
    /* border-top:2px solid #e2e2e2; */
    display: flex;
    justify-content: center;
    align-items:center ;
    padding:5px;
    background-color: #ffffff;
    text-align: center;
    min-height: 1.7cm;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#000;
}
/*View files*/
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #007bff;
}


/*End of View files*/



.chatApp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 30px;
    margin-top: 10px;
}
.chatApp button {
    background-color: silver;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 4px;
    margin-left: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.chatApp button a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.chatApp button:hover {
    background-color: rgb(119, 7, 73);
}

.chatApp button:active {
    background-color: #003f7f;
}

.chatApp button a:hover {
    text-decoration: none;
}

/*Media queries for different screens*/
@media (max-width: 1200px) {


}

@media (min-width: 1200px) { 

    
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 


 }


@media (min-width: 768px) and (max-width: 991.98px) { 




 }

@media (min-width: 576px) and (max-width: 767.98px) { 



 }


@media (max-width: 575.98px) { 


 }


@media (max-width: 400px) {

    
}