::-webkit-scrollbar {
    padding: 100px;
    width: 3px;  /* Adjust width for vertical scrollbar */
    height: 3px; /* Adjust height for horizontal scrollbar */
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Background of the draggable scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Rounded corners */
}

/* Background of the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7de740;
}
.right{
    display: flex;
    gap:10px;
    /* padding:15px; */
    /* flex-wrap: wrap; */
}
.r_left{
    border-right: 2px solid rgb(224, 224, 224);
    padding:20px;
    width:30%;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */

}
.userOptions{
    /* border:1px solid firebrick; */
    /* padding:10px; */
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.menuOptions{
    /* border:1px solid red; */
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(161, 161, 157, 0.933);
    /* padding:10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    min-height:3.5cm;
    min-width: 2.5cm;
    background-color: #009879;
}
#view{
    background-color: #e7810d;
    background: url("dash_Images/Files.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#upload{
    background-color: rgb(40, 65, 87);
    background: url("dash_Images/UserAccounts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#account{
    background-color: #69625c;
    background: url("dash_Images/Upload.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
#notification{
    background-color: #49062b;
    background: url("dash_Images/Statistics.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*.menuOptionIcon{
    /* border:1px solid orange; 
    height:3cm;
    width:2cm;
    /* box-shadow: 1px 2px 6px 1px rgb(153, 150, 150); 
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
} */ 
.menuOptionIcon:hover{
    box-shadow: 2px 2px 6px 1px rgba(255, 255, 255, 0.568);
}
.contents{
    overflow: hidden;
   }
   .contents:hover{
    transition: 0.5s ease-in-out;
    /* transform: scale(1.05); */
   }
   .contents section {
    font-size: 20px;
    
    background-color: #1a1a42a8;
    border-top:3px solid #fff;
    padding:0;
    margin:0;
    width: 3.2cm;
    height:3.5cm;
    transform: translateY(105px);
    transition:0.4s ease-in-out;
    
   }
   .contents a {
    text-decoration: none;
    color:#fff;
   }
   .contents   section:hover{
    transform:translateY(0);
   }
   .contents p{
    font-size: 15px;
    color:rgb(255, 187, 0);
   }
   .contents button{
  border:none;
    background-color: #ece7e763;
    color:black;
    padding:5px;
    margin:5px;
    cursor:pointer;
    border-radius: 3px;
   }
.message{
    margin-top: 30px;
    border-top: 4px solid;
    padding:10px;
    color:#ffffff;
    background-color: #69625c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.r_mid{
    /* border-right: 2px solid rgb(124, 50, 50); */
    padding:10px;
    width:50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap:10px;

}
.r_mid_components{
    border-bottom:3px solid rgba(146, 156, 147, 0.966);
    padding:10px;
    height:40%;
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap:10px;
    align-items: center;
    justify-content: center;

}
.calender{
/* border:1px solid forestgreen; */
box-shadow: 0 1px 1px rgba(145, 137, 145, 0.933);
background-color: #009879;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 5px;
padding:20px;
border-radius:5px;
min-width: 20%;
min-height: 100%;

}
.graph{
    /* border:1px solid forestgreen; */
    background-color: #ffffff;
    padding:10px;
    border-radius:5px;
    min-width: 47%;
    min-height: 100%;
}
.table{
    /* border: 1px solid rgb(209, 5, 22); */
    height:60%;
    border-radius: 5px;

}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 10px;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 5px 5px;
}

.styled-table thead tr {
    /* background-color: #eeecec; */
    text-align: left;
    border-bottom: 2px solid #e7810d;
    
}

.styled-table tbody tr {
    /* border-bottom: 1px solid #fffdfd; */
    cursor: pointer; /* Makes rows clickable */
    /* border-bottom: 1px solid #c9bdbd; */
    transition: ease-in-out 0.1s;
    color:#69625c;
    font-size: 14px;

}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #eeecec18;; /* Alternate row color */
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #eeecec6e; /* Alternate row color */
}

.styled-table tbody tr:hover {
    background-color: #e2e2e2; /* Hover color */
    transform: scale(1.02);
}

/* .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
} */

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.r_right{
    /* border: 1px solid saddlebrown; */
    padding:10px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-radius: 5px; */
    gap: 10px;
    background-color: rgb(255, 255, 255);
}
.msgstats{
    padding:5px;
    display: flex;
    gap:5px;
}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #49062b;
    border-radius: 5px;
    padding:5px;
    width:59px;
}
.notifications{
   
    border: 1px solid;
    padding:10px;
    border-radius: 10px;
    height: 70vh;
    /* background-color: #ffffff; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    overflow-y: auto;
   
}
.messageContainer{
    cursor: pointer;
    color: rgb(136, 136, 136);
    border-bottom: 1px solid rgba(168, 166, 168, 0.644);
    /* box-shadow:  0 0 2px rgba(34, 33, 33, 0.2); */
    /* border:1px solid black; */
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding:5px;
}
.from{
    box-shadow: 0 5px 7px rgba(31, 1, 21, 0.438);
    padding:5px;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    border-radius: 5px;
    gap:5px;
}
.messageBody{
    padding:5px;
    font-size: 12px;
}
.messageTime{
    padding:5px;
    display: flex;
    /* font-weight: 600; */
    font-size: 10px;
    border-radius: 5px;
    align-items: flex-end;
    justify-content: right;
    gap:5px;
}
