.right{
    display: flex;
    gap:10px;
    padding:15px;
    /* flex-wrap: wrap; */
}
.r_left{
    border: 1px solid rgb(63, 139, 19);
    padding:30px;
    width:30%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap:10px;
    /* flex-wrap: wrap; */

}
.userOptions{
    border:1px solid firebrick;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
   
}
.menuOptions{
    border:1px solid red;
    border-radius: 5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:3.5cm;
    min-width: 2.5cm;
}
.menuOptionIcon{
    border:1px solid orange;
    height:3cm;
    width:2cm;
}
.message{
    padding:10px;
    border: 1px solid #f2f;
}
.r_mid{
    border: 1px solid rgb(228, 4, 4);
    padding:30px;
    width:50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap:10px;
    border-radius: 5px;
}
.r_mid_components{
    border:1px solid rgba(204, 20, 20, 0.966);
    padding:10px;
    height:40%;
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap:10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.calender{
border:1px solid forestgreen;
padding:10px;
border-radius:5px;
min-width: 20%;
min-height: 100%;

}
.graph{
    border:1px solid forestgreen;
    padding:10px;
    border-radius:5px;
    min-width: 47%;
    min-height: 100%;
}
.table{
    border: 1px solid #f45;
    height:60%;
    border-radius: 5px;

}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 10px;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 5px 5px;
}

.styled-table thead tr {
    /* background-color: #eeecec; */
    text-align: left;
    border-bottom: 2px solid #e7810d;
    
}

.styled-table tbody tr {
    /* border-bottom: 1px solid #fffdfd; */
    cursor: pointer; /* Makes rows clickable */
    /* border-bottom: 1px solid #c9bdbd; */
    transition: ease-in-out 0.1s;
    color:#9b4805;

}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #eeecec18;; /* Alternate row color */
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #eeecec6e; /* Alternate row color */
}

.styled-table tbody tr:hover {
    background-color: #e2e2e2; /* Hover color */
    transform: scale(1.02);
}

/* .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
} */

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.r_right{
    border: 1px solid saddlebrown;
    padding:30px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

