.right{
    display: flex;
    gap:10px;
    /* padding:15px; */
    /* flex-wrap: wrap; */
}
.r_left{
    border-right: 2px solid rgb(224, 224, 224);
    padding:20px;
    width:30%;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */

}
.userOptions{
    /* border:1px solid firebrick; */
    /* padding:10px; */
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.menuOptions{
    /* border:1px solid red; */
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(161, 161, 157, 0.933);
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:3.5cm;
    min-width: 2.5cm;
    background-color: rgb(82, 6, 50);;
}
.menuOptionIcon{
    /* border:1px solid orange; */
    height:3cm;
    width:2cm;
    box-shadow: 1px 2px 6px 1px rgb(255, 255, 255);
    /* background-color: #e7810d; */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.menuOptionIcon:hover{
    box-shadow: 2px 2px 6px 1px rgba(255, 255, 255, 0.568);
}
.message{
    margin-top: 30px;
    border-top: 4px solid;
    padding:10px;
    color:#ffffff;
    background-color: #69625c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.r_mid{
    border-right: 2px solid rgb(134, 122, 122);
    padding:10px;
    width:50%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap:10px;

}
.r_mid_components{
    border-bottom:1px solid rgba(146, 156, 147, 0.966);
    padding:10px;
    height:40%;
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap:10px;
    align-items: center;
    justify-content: center;

}
.calender{
/* border:1px solid forestgreen; */
box-shadow: 0 1px 1px rgba(145, 137, 145, 0.933);
padding:10px;
border-radius:5px;
min-width: 20%;
min-height: 100%;

}
.graph{
    /* border:1px solid forestgreen; */
    padding:10px;
    border-radius:5px;
    min-width: 47%;
    min-height: 100%;
}
.table{
    /* border: 1px solid rgb(209, 5, 22); */
    height:60%;
    border-radius: 5px;

}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 10px;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 5px 5px;
}

.styled-table thead tr {
    /* background-color: #eeecec; */
    text-align: left;
    border-bottom: 2px solid #e7810d;
    
}

.styled-table tbody tr {
    /* border-bottom: 1px solid #fffdfd; */
    cursor: pointer; /* Makes rows clickable */
    /* border-bottom: 1px solid #c9bdbd; */
    transition: ease-in-out 0.1s;
    color:#69625c;
    font-size: 14px;

}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #eeecec18;; /* Alternate row color */
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #eeecec6e; /* Alternate row color */
}

.styled-table tbody tr:hover {
    background-color: #e2e2e2; /* Hover color */
    transform: scale(1.02);
}

/* .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
} */

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.r_right{
    /* border: 1px solid saddlebrown; */
    padding:30px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

